# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
accelerate=0.34.2=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.4.0=pypi_0
aiohttp=3.10.5=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.4.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=4.0.3=pypi_0
attrs=24.2.0=pypi_0
bert-score=0.3.13=pypi_0
bzip2=1.0.8=h5eee18b_6
ca-certificates=2024.8.30=hbcca054_0
cachetools=5.5.0=pypi_0
certifi=2024.8.30=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
comm=0.2.2=pyhd8ed1ab_0
contourpy=1.3.0=pypi_0
cycler=0.12.1=pypi_0
datasets=2.21.0=pypi_0
debugpy=1.8.5=py310hf71b8c6_1
decorator=5.1.1=pyhd8ed1ab_0
deepspeed=0.15.1=pypi_0
dill=0.3.8=pypi_0
docstring-parser=0.16=pypi_0
einops=0.8.0=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.1.0=pyhd8ed1ab_0
fastapi=0.114.2=pypi_0
ffmpy=0.4.0=pypi_0
filelock=3.13.1=pypi_0
fire=0.6.0=pypi_0
fonttools=4.53.1=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
gradio=4.44.0=pypi_0
gradio-client=1.3.0=pypi_0
h11=0.14.0=pypi_0
hjson=3.1.0=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.2=pypi_0
huggingface-hub=0.24.7=pypi_0
idna=3.9=pypi_0
importlib-metadata=8.5.0=pyha770c72_0
importlib-resources=6.4.5=pypi_0
ipykernel=6.29.5=pyh3099207_0
ipython=8.27.0=pyh707e725_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.3=pypi_0
joblib=1.4.2=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_0
jupyter_core=5.7.2=py310hff52083_0
kiwisolver=1.4.7=pypi_0
krb5=1.21.3=h143b758_0
ld_impl_linux-64=2.38=h1181459_1
libedit=3.1.20230828=h5eee18b_0
libffi=3.4.4=h6a678d5_1
libgcc=14.1.0=h77fa898_1
libgcc-ng=14.1.0=h69a702a_1
libgomp=14.1.0=h77fa898_1
libsodium=1.0.20=h4ab18f5_0
libstdcxx=14.1.0=hc0a3c3a_1
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
logger=1.4=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
modelscope=1.18.1=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.1.0=pypi_0
multiprocess=0.70.16=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
networkx=3.2.1=pypi_0
ninja=1.11.1.1=pypi_0
numpy=1.26.3=pypi_0
nvidia-cublas-cu11=11.11.3.6=pypi_0
nvidia-cuda-cupti-cu11=11.8.87=pypi_0
nvidia-cuda-nvrtc-cu11=11.8.89=pypi_0
nvidia-cuda-runtime-cu11=11.8.89=pypi_0
nvidia-cudnn-cu11=9.1.0.70=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.3.0.86=pypi_0
nvidia-cusolver-cu11=11.4.1.48=pypi_0
nvidia-cusparse-cu11=11.7.5.86=pypi_0
nvidia-ml-py=12.535.161=pypi_0
nvidia-nccl-cu11=2.20.5=pypi_0
nvidia-nvtx-cu11=11.8.86=pypi_0
nvitop=1.3.2=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.3.2=hb9d3cd8_0
orjson=3.10.7=pypi_0
packaging=24.1=pyhd8ed1ab_0
pandas=2.2.2=pypi_0
parso=0.8.4=pyhd8ed1ab_0
peft=0.12.0=pypi_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=10.2.0=pypi_0
pip=24.2=py310h06a4308_0
platformdirs=4.3.6=pyhd8ed1ab_0
prompt-toolkit=3.0.47=pyha770c72_0
protobuf=5.28.1=pypi_0
psutil=6.0.0=py310ha75aee5_1
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.3=pyhd8ed1ab_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=17.0.0=pypi_0
pydantic=2.9.1=pypi_0
pydantic-core=2.23.3=pypi_0
pydub=0.25.1=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pymupdf=1.24.10=pypi_0
pymupdfb=1.24.10=pypi_0
pyparsing=3.1.4=pypi_0
python=3.10.14=h955ad1f_1
python-dateutil=2.9.0.post0=pypi_0
python-multipart=0.0.9=pypi_0
python_abi=3.10=2_cp310
pytz=2024.2=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=py310h71f11fc_2
readline=8.2=h5eee18b_0
regex=2024.9.11=pypi_0
requests=2.32.3=pypi_0
rich=13.8.1=pypi_0
ruff=0.6.5=pypi_0
safetensors=0.4.5=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.14.1=pypi_0
seaborn=0.13.2=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=72.1.0=py310h06a4308_0
shellingham=1.5.4=pypi_0
shtab=1.7.1=pypi_0
six=1.16.0=pyh6c4a22f_0
sniffio=1.3.1=pypi_0
sqlite=3.45.3=h5eee18b_0
sse-starlette=2.1.3=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.38.5=pypi_0
sympy=1.12=pypi_0
tensorboardx=2.6.2.2=pypi_0
termcolor=2.4.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.7.0=pypi_0
tk=8.6.14=h39e8969_0
tokenizers=0.19.1=pypi_0
tomlkit=0.12.0=pypi_0
torch=2.4.1+cu118=pypi_0
torchaudio=2.4.1+cu118=pypi_0
torchvision=0.19.1+cu118=pypi_0
tornado=6.4.1=py310ha75aee5_1
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
transformers=4.44.2=pypi_0
triton=3.0.0=pypi_0
trl=0.9.6=pypi_0
typer=0.12.5=pypi_0
typing-extensions=4.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tyro=0.8.10=pypi_0
tzdata=2024.1=pypi_0
urllib3=2.2.3=pypi_0
uvicorn=0.30.6=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
websockets=12.0=pypi_0
wheel=0.44.0=py310h06a4308_0
xxhash=3.5.0=pypi_0
xz=5.4.6=h5eee18b_1
yarl=1.11.1=pypi_0
zeromq=4.3.5=ha4adb4c_5
zipp=3.20.2=pyhd8ed1ab_0
zlib=1.2.13=h5eee18b_1